<div class="container">
	<div class="row">
		<div class="col-xs-4"></div>
		<div class="col-xs-4">
			<h1><%= @product.new_record? ? "Create New Product" : "Edit product" %></h1>
			<%= form_for @product do |f| %>
				<%= f.text_field :name, placeholder:"Product name", class: 'form-control' %><br>
				<%= f.number_field :price, placeholder:"Product price", class: 'form-control' %>
				<%= f.collection_check_boxes :category_ids, Category.all, :id, :name %>
				<%= f.submit @product.new_record? ? "Create" : "Edit", class: 'btn btn-primary' %>
			<% end %>		
		</div>
		<div class="col-xs-4"></div>
	</div>	
</div>

