<div class="container">
  <div class="row">
      <h1>Products</h1>    
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-9 col-md-offset-9">
       <%= link_to "New Product", new_product_path, class: 'btn btn-primary' %>
    </div>
    <div class="col-xs-12">
       <table class="table">
          <thead>
          <tr>
            <th>Product</th>
            <th>Price</th> 
            <th>Categories</th>
            <th></th>
          </tr>
          </thead>
          <% @products.each do |product|  %>
          <tbody>
          <tr>
            <td><%= product.name %></td>
            <td><%=	number_to_currency(product.price, precision: 2)  %></td>
            <td><%= product.categories.pluck(:name).join(", ") %></td>
            <td><%= link_to "Edit", edit_product_path(product) %>| <%= link_to("Delete", product_path(product), method: :delete, data:{ confirm: 'Are you sure?'}) %></td>
          <% end %>
          </tr>
          </tbody>
        </table>
    </div>
  </div>
</div>  
